In [2]:
import numpy as np
import pandas as pd

In [3]:
arr = [1,2,3,4,5,6]

In [5]:
temp_ndarray = np.array(arr)

In [6]:
temp_ndarray.shape

(6,)

In [7]:
temp_matrix = temp_ndarray.reshape(-1,1)

In [9]:
temp_matrix.shape

(6, 1)

In [10]:
print(temp_matrix)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [11]:
temp_matrix.T

array([[1, 2, 3, 4, 5, 6]])

In [12]:
temp_matrix_trans = temp_matrix.T

In [13]:
temp_matrix_trans.shape

(1, 6)

## R2 score

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [17]:
# columns header
_headers = ['CIC0', 'SM1', 'GATS1i', 'NdsCH', 'Ndssc' ,'MLOGP', 'response']

df = pd.read_csv("../datasets/qsar_fish_toxicity.csv", names=_headers, sep=';')

In [18]:
df.head()

    CIC0    SM1  GATS1i  NdsCH  Ndssc  MLOGP  response
0  3.260  0.829   1.676      0      1  1.453     3.770
1  2.189  0.580   0.863      0      0  1.348     3.115
2  2.125  0.638   0.831      0      0  1.348     3.531
3  3.027  0.331   1.472      1      0  1.807     3.510
4  2.094  0.827   0.860      0      0  1.886     5.390

In [19]:
features = df.drop('response', axis=1).values
labels = df[['response']].values

In [20]:
X_train, X_eval, y_train, y_eval = train_test_split(features, labels, test_size=0.2, random_state=0)

In [21]:
X_val, X_test, y_val, y_test = train_test_split(X_eval, y_eval, random_state=0)

In [22]:
model = LinearRegression()

In [23]:
model.fit(X_train, y_train)

LinearRegression()

In [24]:
y_pred = model.predict(X_val)

In [25]:
r2 = model.score(X_val, y_val)
print(f"R2 score: {r2}")

R2 score: 0.5623861754188693

In [26]:
_ys = pd.DataFrame(dict(actuals=y_val.reshape(-1),Predicted=y_pred.reshape(-1)))

In [27]:
_ys.head()

   actuals  Predicted
0    3.742   4.155885
1    6.143   6.398238
2    4.674   5.183181
3    4.865   3.771333
4    4.732   4.593059

In [28]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [29]:
mean_absolute_error(y_val, y_pred)

0.724344084644794

In [30]:
# Import libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
# pipeline
from sklearn.pipeline import Pipeline
# preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures

In [31]:
# create a pipeline and engineer quadratic features
steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(2)),
    ('model', LinearRegression())
    ]

In [32]:
model = Pipeline(steps)

In [33]:
model.fit(X_train, y_train)

Pipeline(steps=[('scaler', MinMaxScaler()), ('poly', PolynomialFeatures()),
                ('model', LinearRegression())])

In [34]:
# lets use our model to predict on our validation dataset
y_pred = model.predict(X_val)

In [36]:
mae = mean_absolute_error(y_val, y_pred)
print('MAE: {}'.format(mae))

MAE: 0.6605526100836078

In [37]:
r2 = model.score(X_val, y_val)
print('R2 score: {}'.format(r2))

R2 score: 0.6284921344153389