In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('Census_income_data_preprocessed.csv')

In [3]:
data.head()

,age,workclass,education-num,marital-status,occupation,capital-gains,capital-loss,hours-per-week,native-country,target
0,39,6,13,4,0,2174,0,40,38,0
1,50,5,13,2,3,0,0,13,38,0
2,38,3,9,0,5,0,0,40,38,0
3,53,3,7,2,5,0,0,40,38,0
4,28,3,13,2,9,0,0,40,4,0

In [4]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [5]:
X.head()

,age,workclass,education-num,marital-status,occupation,capital-gains,capital-loss,hours-per-week,native-country
0,39,6,13,4,0,2174,0,40,38
1,50,5,13,2,3,0,0,13,38
2,38,3,9,0,5,0,0,40,38
3,53,3,7,2,5,0,0,40,38
4,28,3,13,2,9,0,0,40,4

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [7]:
X_new, X_test, y_new ,y_test = train_test_split(X,y, test_size=0.2, random_state=1001)

In [8]:
test_size = X_test.shape[0] / X_new.shape[0]

In [9]:
test_size

0.2500383906633907

In [10]:
X_train, X_valid, y_train, y_valid = train_test_split(X_new, y_new, test_size=test_size, random_state=1001)

In [11]:
print(X_train.shape, y_train.shape, X_valid.shape, y_valid.shape, X_test.shape, y_test.shape)

(19535, 9) (19535,) (6513, 9) (6513,) (6513, 9) (6513,)

# Training Step

In [12]:
from sklearn.naive_bayes import GaussianNB

In [13]:
naive_bayes = GaussianNB()
naive_bayes.fit(X_train, y_train )

GaussianNB()

In [14]:
pred = naive_bayes.predict([[39,6,13,4,0,2174,0,40,38]])
print(pred)

[0]

In [15]:
y_pred = naive_bayes.predict(X_valid)
print("Number of mislabeled points out of a total %d points: %d" %
        (X_valid.shape[0], (y_valid != y_pred).sum()))

Number of mislabeled points out of a total 6513 points: 1273

In [22]:
from sklearn.metrics import mean_squared_error
import numpy as np
MSE = mean_squared_error(y_valid, y_pred)
print("MSE: ", MSE)

RMSE = np.sqrt(MSE)
print("RMSE: ", RMSE)

MSE:  0.19545524335943498
RMSE:  0.442103204421134

# Analysis of the outcome

In [17]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [19]:
confusion = confusion_matrix(y_valid, y_pred)
print(confusion)

[[4748  234]
 [1039  492]]

## Calculate the accuracy, precision and recall

In [20]:
accuracy = accuracy_score(y_valid, y_pred)
print("Accuracy: ", accuracy)

precision = precision_score(y_valid, y_pred)
print("Precision: ", precision)

recall = recall_score(y_valid, y_pred)
print("Recall: ", recall)

Accuracy:  0.804544756640565
Precision:  0.6776859504132231
Recall:  0.32135858915741344

In [23]:
y_pred_main = naive_bayes.predict(X_test)
print("Number of mislabeled points out of a total %d points: %d" %
        (X_test.shape[0], (y_test != y_pred_main).sum()))

Number of mislabeled points out of a total 6513 points: 1371

In [24]:
print(confusion_matrix(y_test, y_pred_main))

[[4657  257]
 [1114  485]]

In [25]:
accuracy = accuracy_score(y_test, y_pred_main)
print("Accuracy: ", accuracy)

precision = precision_score(y_test, y_pred_main)
print("Precision: ", precision)

recall = recall_score(y_test, y_pred_main)
print("Recall: ", recall)

Accuracy:  0.7894979272224781
Precision:  0.6536388140161725
Recall:  0.30331457160725456

In [26]:
MSE_main = mean_squared_error(y_test, y_pred)
print("MSE: ", MSE)

RMSE_main = np.sqrt(MSE)
print("RMSE: ", RMSE)

MSE:  0.19545524335943498
RMSE:  0.442103204421134