In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
flights = pd.read_csv('../datasets/flights.csv')

In [7]:
flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [11]:
flights.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,100000.0,100000.0,100000.000000,100000.000000,98858.000000,100000.000000,98698.000000,100000.000000,100000.000000,98698.000000,...,100000.000000,98698.000000,98858.000000,100000.000000,100000.000000,19629.000000,19629.000000,19629.000000,19629.000000,19629.000000
mean,2008.0,1.0,17.087860,3.890040,1355.200722,1341.989400,1492.739225,1502.601540,1510.648540,107.558502,...,630.586320,4.768962,10.927765,0.011420,0.001600,9.573488,2.036120,8.353151,0.110805,29.343675
std,0.0,0.0,8.356364,1.952999,464.089632,451.356984,496.376794,478.100216,1186.128598,55.350971,...,437.357075,2.983635,5.989580,0.106253,0.039968,21.836836,13.815868,18.826087,1.724888,39.753529
min,2008.0,1.0,1.000000,1.000000,1.000000,600.000000,1.000000,5.000000,1.000000,25.000000,...,66.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,1.0,10.000000,2.000000,942.000000,940.000000,1114.000000,1120.000000,502.000000,68.000000,...,324.000000,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2008.0,1.0,17.000000,4.000000,1344.000000,1335.000000,1518.000000,1520.000000,1320.000000,88.000000,...,453.000000,4.000000,9.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,18.000000
75%,2008.0,1.0,24.000000,5.000000,1743.000000,1730.000000,1913.000000,1910.000000,2362.000000,135.000000,...,843.000000,5.000000,12.000000,0.000000,0.000000,11.000000,0.000000,10.000000,0.000000,37.000000
max,2008.0,1.0,31.000000,7.000000,2359.000000,2235.000000,2400.000000,2355.000000,7676.000000,382.000000,...,2363.000000,213.000000,150.000000,1.000000,1.000000,431.000000,267.000000,366.000000,88.000000,434.000000

In [12]:
flights.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [14]:
flights[flights.groupby('Year')]

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed